@model List<web.Models.ViewModels.BookListViewModel>

@if(!Model.Any())
{
  <p>Sorry, we did not find what you were looking for. Please try again.</p>
}
else {
  <div class="row">
    @foreach(var book in @Model)
    {
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 book-card">
        <div class="card bg-light text-white">
          <a asp-controller="Book" asp-action="Details" asp-route-Id="@book.Id">
            <img class="card-img" src="@book.ImageUrl" alt="Card image">
          </a>
          @{
            var genre = String.Join(", ", book.Genres);
            genre = genre.TrimEnd(' ');
            genre = genre.TrimEnd(',');
          }
          <div class="card-img-overlay" data-toggle="tooltip" data-placement="right" data-html="true" title="<strong>@book.Name</strong><br/><small>by @book.Author</small><br/>
                      @if(@book.Rating <= 0.5) {
                        <i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i>
                      }
                      else if(@book.Rating <= 1.5) {
                        <i class='fas fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i>
                      }
                      else if(@book.Rating <= 2.5) {
                        <i class='fas fa-star'></i><i class='fas fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i>
                      }
                      else if(@book.Rating <= 3.5) {
                        <i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='far fa-star'></i><i class='far fa-star'></i>
                      }
                      else if(@book.Rating <= 4.5) {
                        <i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='far fa-star'></i>
                      }
                      else if(@book.Rating <= 5) {
                        <i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i>
                      }
                      @book.Rating
                      <p>@book.Description</p>
                      <p>Genres: @genre</p>">
            <a asp-controller="Book" asp-action="Details" asp-route-Id="@book.Id" class="card-img-overlay"></a>
            <div class="card-img-overlay book-overlay-upper">
              <h5 class="card-title">
                <a class="card-link book-card-link" asp-controller="Book" asp-action="Details" asp-route-Id="@book.Id">@book.Name</a>
              </h5>
            </div>
            
          </div>
          <div class="card-body book-overlay-lower badge">
            <span class="badge badge-pill star flex-fill">
              @if(@book.Rating <= 0.5) {
                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              }
              else if(@book.Rating <= 1.5) {
                <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              }
              else if(@book.Rating <= 2.5) {
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              }
              else if(@book.Rating <= 3.5) {
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
              }
              else if(@book.Rating <= 4.5) {
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
              }
              else if(@book.Rating <= 5) {
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              }
              @book.Rating
            </span>
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <input class="btn btn-primary btn-sm btn-price" type="button" value="$@book.Price" disabled>
              <button class="btn btn-success btn-sm flex-fill" onclick="location.href='@Url.Action("AddToCart", "Order", new { BId = @book.Id})'"><i class="fas fa-cart-plus"></i> Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}