@model web.Models.ViewModels.AccountViewModel

@{
  ViewData["Title"] = "Account";
}

<h2>Account Profile</h2>
<div class="row justify-content-md-center">
  <div class="col-xs-12 " align="center"> 
    <img alt="User Pic" src="@Model.UserPhotoLocation" class="img-circle img-responsive"> 
  </div>
  <div class="col-md-8"> 
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
          <td>Favorite Book:</td>
          <td>@Model.FavoriteBookName</td>
        </tr>
        <tr>
          <td>Primary Address</td>
          <td>@Model.PrimaryAddressStreet</td>
        </tr>
        <tr>
          <td>Email</td>
          <td><a href="mailto:@Model.Email">@Model.Email</a></td>
        </tr>  
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 row ml-2">
        <a class="col-5 btn btn-primary" asp-controller="Order" asp-action="Cart">Cart</a>
        <a class="col-5 offset-1 btn btn-primary" asp-controller="Order" asp-action="Cart">Previous Orders</a>
      </div>
      <div class="col-md-6 row ml-2 ml-md-0 mt-2 mt-md-0">
        <a class="col-5 btn btn-primary" asp-controller="Account" asp-action="CreateAddress">Add Address</a>
        <a class="col-5 offset-1 btn btn-primary" asp-controller="Account" asp-action="Edit">Edit Profile</a>
      </div>
      @if (User.IsInRole("Staff")) { <a class="btn btn-primary" asp-controller="Staff" asp-action="Index">Management Console</a> }

      <form class="pull-right col-12 col-md-6 ml-2" asp-action="Logout" asp-controller="Account" method="POST">
        <div class="form-group">
          <button type="submit" class="col-11 btn btn-danger mt-2">Logout</button>
        </div>
      </form>
    </div>
  </div>
</div>

