@{
    //If we use claims then the user must log out and in again for action to take effect.
    //var claim = (User.Identity  as System.Security.Claims.ClaimsIdentity).Claims.FirstOrDefault(x => x.Type == "ProfilePic");
    //var profilePicPath = "images\\profilepics\\anon.jpg";
    //profilePicPath = claim.Value.ToString();
    var name = (User.Identity  as System.Security.Claims.ClaimsIdentity).Claims.FirstOrDefault(x => x.Type == "Name").Value.ToString();

    var profilePicPath = "images\\profilepics\\default.jpg";
    var username = UserManager.GetUserName(User);
    var user = UserManager.Users.FirstOrDefault(x => x.UserName == UserManager.GetUserName(User));


    if(user.UserPhotoLocation != null)
    {
        //Console.WriteLine(UserManager.Users.FirstOrDefault(x => x.UserName == UserManager.GetUserName(User)));
        profilePicPath = user.UserPhotoLocation;
    }
}


<h2>Account Profile</h2>
<div class="row justify-content-md-center">
    <div class="col-xs-12 " align="center"> 
        <img alt="User Pic" src="@profilePicPath" class="img-circle img-responsive"> 
    </div>
    <div class="col-md-8"> 
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>@user.FirstName @user.LastName</td>
                </tr>
                <tr>
                    <td>Favorite Book:</td>
                    <td>@user.FavoriteBookId</td>
                </tr>
                <tr>
                    <td>Primary Address</td>
                    <td>@user.PrimaryAddressId</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><a href="mailto:@user.Email">@user.Email</a></td>
                </tr>  
            </tbody>
        </table>
        <a class="btn btn-primary" asp-controller="Order" asp-action="Cart">Cart</a>
        <a class="btn btn-primary" asp-controller="Order" asp-action="Cart">Previous Orders</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Edit">Edit Profile</a>
        @if (User.IsInRole("Staff")) { <a class="btn btn-primary" asp-controller="Account" asp-action="Edit">Edit Profile</a> }

        <form class="pull-right" asp-action="Logout" asp-controller="Account" method="POST">
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Logout</button>
            </div>
        </form>
    </div>
</div>

