@model web.Models.InputModels.AddressCheckOutInputModel

@{
  ViewData["Title"] = "Shipping Address";
}

</br>
<div class="btn-group address-buttons row">
  <button type="button" class="btn btn-primary col-md-6 checkout-nav-buttons">1</button>
  <a class="btn btn-info col-md-6 checkout-nav-buttons" asp-controller="Order" asp-action="CheckOutReview" role="button">2</a>
</div>
</br>
</br>


<form class="row" method="POST">
  <div class="border rounded p-4 checkout-deliv">
    <h2>Delivery address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="ShippingAddressOption" class="col-12 form-control" id="deliveryselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress, @a.City, @a.Country</option>
        }
      </select>
    </fieldset>

    </br>
    <fieldset class="inputaddress row" id="deliveryinput">
      <input type="text" class="col-12 form-control" placeholder="First Name" asp-for="ShippingAddressInput.FirstName"></br>
      <input type="text" class="col-12 form-control" placeholder="Last Name" asp-for="ShippingAddressInput.LastName"></br>
      <input type="text" class="col-12 form-control" placeholder="Phone Number" asp-for="ShippingAddressInput.PhoneNumber"></br>
      <input type="text" class="col-12 form-control" placeholder="Country" asp-for="ShippingAddressInput.Country"></br>
      <input type="text" class="col-12 form-control" placeholder="City" asp-for="ShippingAddressInput.City"></br>
      <input type="text" class="col-12 form-control" placeholder="Street Address" asp-for="ShippingAddressInput.StreetAddress"></br>
      <input type="text" class="col-12 form-control" placeholder="Zip Code" asp-for="ShippingAddressInput.ZipCode"></br>
    </fieldset>
  </div>
  
  <div class="border rounded p-4 checkout-bill">
    <h2>Billing address</h2>
    <fieldset class="selectaddress row">
      <select asp-for="BillingAddressOption" class="col-12 form-control" id="billingselect">
        @foreach (var a in Model.AllUserAddresses) {
          <option value=@a.Id>@a.StreetAddress, @a.City, @a.Country</option>
        }
      </select>
    </fieldset>
    </br>
    <fieldset class="inputaddress row" id="billinginput">
      <input type="text" class="col-12 form-control" placeholder="First Name" asp-for="BillingAddressInput.FirstName"></br>
      <input type="text" class="col-12 form-control" placeholder="Last Name" asp-for="BillingAddressInput.LastName"></br>
      <input type="text" class="col-12 form-control" placeholder="Phone Number" asp-for="BillingAddressInput.PhoneNumber"></br>
      <input type="text" class="col-12 form-control" placeholder="Country" asp-for="BillingAddressInput.Country"></br>
      <input type="text" class="col-12 form-control" placeholder="City" asp-for="BillingAddressInput.City"></br>
      <input type="text" class="col-12 form-control" placeholder="Street Address" asp-for="BillingAddressInput.StreetAddress"></br>
      <input type="text" class="col-12 form-control" placeholder="Zip Code" asp-for="BillingAddressInput.ZipCode"></br>
    </fieldset>
  </div>
  
  <button type="submit" class="btn btn-secondary col-md-6 offset-md-3 checkout-button">Continue</button>
</form>
