@model web.Models.ViewModels.OrderConfirmationViewModel

@{
  ViewData["Title"] = "Finalize Order";
}

</br>
<div class="btn-group address-buttons row">
	<a class="btn btn-info col-md-6 checkout-nav-buttons" asp-controller="Order" asp-action="CheckOutAddress" role="button">1</a>
  <button type="button" class="btn btn-primary col-md-6 checkout-nav-buttons">2</button>
</div>
</br>
</br>
<div class="row">
	<div class="border rounded p-4 review-order">
		<h2>Order Details</h2>
		<h3>Price Details</h3>
		@foreach(var book in Model.OrderItems) {
			<p>
				<h4>@book.BookName</h4>
				<strong>Quantity</strong>: @book.Quantity<br>
				<strong>Price per copy</strong>: $@book.ItemPrice.ToString("0.00")<br>
				<strong>Discount</strong>: @book.ItemDiscount.ToString("0.00")%<br>
			</p>
		}
		<p><strong>Total Price For Order</strong>: $@Model.Order.PurchaseAmount.ToString("0.00")</p>
	</div>

	<div class="border rounded p-4 review-deliv">
		<h3>Shipping Address</h3>
		<h5>First Name</h5>
		@Model.Addresses[0].FirstName
		<h5>Last Name</h5>
		@Model.Addresses[0].LastName
		<h5>Phone Number</h5>
		@Model.Addresses[0].PhoneNumber
		<h5>Country</h5>
		@Model.Addresses[0].Country
		<h5>City</h5>
		@Model.Addresses[0].City
		<h5>Address</h5>
		@Model.Addresses[0].StreetAddress
		<h5>Zipcode</h5>
		@Model.Addresses[0].ZipCode
	</div>

	<div class="border rounded p-4 review-bill">
		<h3>Shipping Address</h3>
		<h5>First Name</h5>
		@Model.Addresses[1].FirstName
		<h5>Last Name</h5>
		@Model.Addresses[1].LastName
		<h5>Phone Number</h5>
		@Model.Addresses[1].PhoneNumber
		<h5>Country</h5>
		@Model.Addresses[1].Country
		<h5>City</h5>
		@Model.Addresses[1].City
		<h5>Address</h5>
		@Model.Addresses[1].StreetAddress
		<h5>Zipcode</h5>
		@Model.Addresses[1].ZipCode
	</div>

  <a class="btn btn-success col-md-6 offset-md-3 checkout-button" asp-controller="Order" asp-action="CheckOutConfirmed" role="button">Confirm</a>
</div>