@model web.Models.ViewModels.OrderConfirmationViewModel

<div class="Review-details">
  <h2>Order Details</h2>
  <h3>Price Details</h3>
  <p>Total Price: @Model.Order.PurchaseAmount</p>

</div>



<p>@Model.Order.ShippingAddressId</p>

<p>@Model.Order.BillingAddressId</p>


<div class="shipping-address">
  <h3>Shipping Address</h3>
  <p>@Model.Addresses[0].CustomerId </p>
  <p>@Model.Addresses[0].FirstName </p>
  <p>@Model.Addresses[0].LastName </p>
  <p>@Model.Addresses[0].PhoneNumber </p>
  <p>@Model.Addresses[0].Country </p>
  <p>@Model.Addresses[0].City </p>
  <p>@Model.Addresses[0].StreetAddress </p>
  <p>@Model.Addresses[0].ZipCode </p>
</div>

<div class="billing-address">
  <h3>Billing Address</h3>
  <p>@Model.Addresses[1].CustomerId </p>
  <p>@Model.Addresses[1].FirstName </p>
  <p>@Model.Addresses[1].LastName </p>
  <p>@Model.Addresses[1].PhoneNumber </p>
  <p>@Model.Addresses[1].Country </p>
  <p>@Model.Addresses[1].City </p>
  <p>@Model.Addresses[1].StreetAddress </p>
  <p>@Model.Addresses[1].ZipCode </p>
</div>
<p> bravooo</p>
<!--


-->
