@model web.Models.ViewModels.BookDetailViewModel 

@{
  ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<div class="row">
  <div class="row col-md-4">
    <div class="col-md-12"><img class="book-image"src="@Model.ImageUrl"/></div>
    <button class="btn btn-success detail-cart" onclick="location.href='@Url.Action("AddToCart", "Order", new { BId = @Model.Id})'"><i class="fas fa-cart-plus"></i> Add to cart</button>
    <button class="btn btn-info col-12 col-md detail-review" onclick="location.href='@Url.Action("RateBook", "Book", new { BookId = @Model.Id, BookName = @Model.Name})'"><i class="far fa-star"></i> Review</button>
  </div>
  <div class="row col-md-7 offset-md-1 border rounded">
    <div class="col-md-12"> </div>
    <div class="col-md-6"><strong>Price:</strong> $@Model.Price</div>
    <div class="col-md-6">
      <strong>Rating:</strong> 
      @if(@Model.Rating <= 0.5) {
        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
      }
      else if(@Model.Rating <= 1.5) {
        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
      }
      else if(@Model.Rating <= 2.5) {
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
      }
      else if(@Model.Rating <= 3.5) {
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
      }
      else if(@Model.Rating <= 4.5) {
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
      }
      else if(@Model.Rating <= 5) {
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      }
      @Model.Rating
    </div>
    <div class="col-md-12"><strong>Discount:</strong> @Model.Discount</div>
    <div class="col-md-12"><strong>Language:</strong> @Model.Language</div>
    <div class="col-md-12"><h4>Description</h4> @Model.Description</div>
    <!-- Description is available through @Model.Description -->
    <div class="col-md-12"><h4>Author</h4> <a href="~/Book/Search?searchString=@Model.AuthorName" class="detail-author">@Model.AuthorName</a></div>
    <div class="col-md-12"><h4>Publisher</h4> @Model.PublisherName</div>
    <div class="col-md-6"><strong>Year published:</strong> @Model.Year</div>
    <div class="col-md-6"><strong>ISBN:</strong> @Model.ISBN</div>
  </div>
</div>

@if(@Model.Comments.Count != 0) {
  <div>
    <h3>Reviews: </h3>
    @foreach(var comment in @Model.Comments)
    {
      <div>
        <div class="card mb-3">
          <div class="card-header">
            <h4 class="card-title">@comment.CustomerName</h4>
          </div>
          <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h5 class="card-title">
              <span class="text-warning">
                @if(@comment.RatingValue <= 0.5) {
                  <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if(@comment.RatingValue <= 1.5) {
                  <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if(@comment.RatingValue <= 2.5) {
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if(@comment.RatingValue <= 3.5) {
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if(@comment.RatingValue <= 4.5) {
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                }
                else if(@comment.RatingValue <= 5) {
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                }
                @comment.RatingValue
              </span>
            </h5>
            @if(@comment.Comment != null)
            {
              <p class="card-text">@comment.Comment</p>
            }
            <footer class="blockquote-footer"><cite title="Date Posted">@comment.RatingDate</cite></footer>
          </blockquote>
          </div>
        </div>
      </div>
    }
  </div>
}