@model web.Models.ViewModels.BookDetailViewModel 
<br />
<br />
<br />

<h1>Book Detail</h1>
<div>
    <p>Book name: @Model.Name</p>
    <p>Author name: @Model.AuthorName</p>
    <p>Publisher name: @Model.PublisherName</p>
    <p>ImageUrl: <img src="@Model.ImageUrl"/></p>
    <p>Year published: @Model.Year</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Language: @Model.Language</p>
    <p>Price: @Model.Price</p>
    <p>Discount: @Model.Discount</p>
    <p>Rating: @Model.Rating</p>
</div>