@model List<web.Models.ViewModels.BookListViewModel>
<div>
    <h2>List of books</h2>
</div>
<div>
    @foreach(var book in @Model)
    {
        <p>Book Name: <a asp-controller="Book" asp-action="Details" asp-route-Id="@book.Id">@book.Name</a></p>
        <p>Author ID: @book.AuthorId</p>
        <p>Image ID: @book.ImageUrl</p>
        <p>Price: @book.Price</p>
        <p>Discount: @book.Discount</p>
        <p>Rating: @book.Rating</p>
    }
</div>